
body{
  background-color: #eacec0;
  overflow: auto;
  margin:0;
}
.header{
    top: 0;
    background: url(2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1366px;
    height: 786px;
    object-fit: contain;
    display: inline-block;
}
.black_list {
    background: rgba(0, 0, 0, 0.4);
    margin-left: 31px;
    padding-top: 20px;
    position: relative;
    width: 382px;
    height: 766px;
    display: inline-block;
}
.black{
    width: 322px;
    height: 91px;
    object-fit: contain;
    margin-left:  22px;
  }
.a30--{
    width: 146px;
    height: 130px;
    object-fit: contain;
    margin-top: 14px;
  }
.a31--{
    width: 53px;
    height: 133px;
    object-fit: contain;
    margin-top: 14px;
  }
.a32-- {
    width: 56px;
    height: 67px;
    object-fit: contain;
    margin-top: 14px;
  }
.language{
      width: 60px;
      height: 30px;
      font-family: Kurale;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      position: absolute;
      display: inline-block;
      margin-top: 63px;
      margin-left: 760px;
      padding-top: 3px;
  }
  .language1{
    width: 60px;
    height: 30px;
    font-family: Kurale;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
    position: absolute;
    display: inline-block;
    margin-top: 63px;
    margin-left: 815px;
    padding-top: 3px;
}
.language,.language1:hover {
  color:#E6E6FA ;
  background-color: #000000;
}

.er {
color:white;
text-align: center;
padding: 9px;
text-decoration: none;
border-radius: 10px;
border: 1.9px solid white;
width: 332px;
height: 68px;
font-family: Kurale;
font-size: 40px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
display: inline-block;
margin-left: 420px;
margin-top: 600px;
position: absolute;
}

.circle{
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1.2px solid white;
  border-radius: 50px;
  margin: 5px;
}
.circle1{
  display: inline-block;
  width: 170px;
  height: 28px;
  margin-left: 525px;
  margin-top: 720px;
  position: absolute;
}
.circle:hover{
background-color: white;
}
  .menu{
    width: 382px;
    height: 221px;
    
        font-family: Kurale;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: white;
      
}
.menu:hover {
    color:#E6E6FA ;
    background-color: #000000;
}

.tasty {
    display: inline-block;
    width: 376px;
    height: 391px;
    font-family: Kurale;
    font-size: 85px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
    margin-left: 410px;
    position: absolute;
    margin-top: 210px;
  }
  .search {
    width: 393px;
    height: 39px;
    border-radius: 10px;
    background-color: rgba(250, 2500, 250, 0.12);
    margin-top: 57px;
    margin-left: 70px;
    position: absolute;
    font-family: Kurale;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }
.sear {
    margin-left: 425px;
    position: absolute;
    margin-top: 65px;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

.korz {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: 610px;
    position: absolute;
    margin-top: 65px;
  }

.accaun{
    margin-left: 658px;
    position: absolute;
    margin-top: 62px;
    width: 22px;
    height: 26px;
    object-fit: contain;
  }

.main_1{
    width: 1366px;
    height: 768px;
}
.main_1 h2{
  font-family: Kurale;
  font-size: 72px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #491916;
}
.drink{
  display: inline-block;
  width: 256px;
  height: 416px;
  background-color: white;
  margin-right: 18px;
}
.drink1{
  display: inline-block;
  margin: 0 5px 0 78px ;
}
.drink2{
  display: inline-block;
  margin-left: -13px ;
}
.vine{
    width: 256px;
    height: 289px;
  
}
.main_2 {
    width: 1366px;
    height: 768px;
    background-color: var(--beige);
  }
.main_3 {
    width: 1366px;
    height: 766px;
    background-color: var(--beige);
  }





